*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.header{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #E0FCF8 15px, transparent 1%) center, linear-gradient(#E0FCF8 15px, transparent 1%) center, #aaa;
  background-size: 16px 16px;
}

.app{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #028090;
}

/*----------- Header -----------*/

.title_section{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.video{
  width: 30%;
  line-height: 1.2;
  border-radius: 1rem;
}

.title{
  text-align: center;
  font-size: 3.4rem;
  font-weight: 600;
  color: #028090;

}
.subtitle{
  font-size: 1.4rem;
  font-weight: 100;
}

/*----------- App -----------*/

.canvas_container{
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.config{
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


#canvas {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.6);
}

.title_settings{
  font-size: 2.4rem;
  font-weight: 600;
  color: #114B5F;
  padding-left: 1rem;
}

.options{
  flex-grow: 100;
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #114B5F;
  border-radius: 1rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#imageInput{
  display: none;
}

.button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: monospace;
  background: #F45B69;
  outline: none;
  margin: 5px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.6);
}

.button:hover{
  background: #116B7C;
}

.slider_title{
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.slider {
  padding: 5px;
  display: inline-block;
  margin: 5px;
  color: #E0FCF8;
  width: 80%;
}

.slider-range {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #E0FCF8;
  outline: none;
  padding: 0;
  margin: 0;
  width: 85%;
}

.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #114B5F;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.slider-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #114B5F;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.slider-range:active::-webkit-slider-thumb {
  background: #F45B69;
}
.slider-range:active::-moz-range-thumb {
  background: #F45B69;
}
.slider-range::-webkit-slider-thumb:hover {
  background: #F45B69;
}
.slider-range::-moz-range-thumb:hover {
  background: #F45B69;
}


.slider-value {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  display: inline-block;
  position: relative;
  width: 10%;
  line-height: 1.5rem;
  text-align: right;
  padding: 5px 10px;
}


::-moz-range-track {
  background: #E0FCF8;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

/*----------- Media Query -----------*/

@media (max-width: 1365px) {
  .app{
    flex-direction: column;
  }

  .header{
    flex-direction: column;
  }

  .title_section{
    width: 80%;
    height: 40vh;
    align-items: center;
  }

  .video{
    width: auto;
    height: 40vh;
  }

  .canvas_container{
    width: 80vw;
    height: 30vh;
  }

  .config{
    width: 80vw;
    height: 60vh;
  }

  .options{
    padding: 0;
  }

  .buttons{
    flex-direction: column;
  }

}


@media (max-width: 479px) {
  .title_settings{
    font-size: 1.6rem;
    font-weight: 600;
    color: #114B5F;
    padding-left: 0.2rem;
  }

  .slider_title{
    font-size: 0.8rem;
    padding-left: 0.1rem;
  }
}
