html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: monospace;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

#canvas_container{
  width: 90vw;
  height: 90vw;
  max-width: 800px;
  max-height: 800px;
  margin-left:  1rem;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  overflow: hidden;
}

.button{
  position: relative;
  margin-bottom: 1rem;
  margin-left:  1rem;
  width: 3rem;
  height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: white;
  font-family: monospace;
  background-color: #cb99c5;
  box-shadow: 0 0 0 1px #cb99c5 inset,
              0 0 0 2px rgba(255,255,255,0.15) inset,
              0 8px 0 0 rgba(189, 142, 183, .7),
              0 8px 0 1px rgba(0,0,0,.4),
              0 8px 8px 1px rgba(0,0,0,0.5);
  font-weight: 800;
  font-size: 10px;
}

.button:active{
  top: 9px;
  background-color: #D19ECB;
  box-shadow: 0 0 0 1px #cb99c5 inset,
              0 0 0 2px rgba(255,255,255,0.15) inset,
              0 0 0 1px rgba(0,0,0,0.4);
}

/*----------- Firm -----------*/
.firm {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.heart {
  color: #ff1493;
}


@media (max-width: 479px) {

  .button{
    width: 5rem;
    height: 2.5rem;
    margin: 0.4rem 0.6rem;
    font-size: 0.7rem;
  }

  .firm {
    font-size: 10px;
  }

}

@media (max-height: 400px) {
  .firm {
    display: none;
  }
}
