html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: monospace;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.tools, .state {
  display: flex;
}

#canvas_container {
  background: #fff;
  border-radius: 4px;
  border: 1.5px solid #37353f;
  box-shadow: 4px 4px 0 0 rgba(189, 142, 183, .7);
  overflow: hidden;
}

.options {
  position: absolute;
  top: -120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .95);
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  transition: top 1.2s;
  box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.6);
}

.options.unfolded {
  top: 0;
}

.options-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.options-save, .options-close {
  font-size: 2rem;
  border: none;
  margin: 1rem;
  background: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: monospace;
  outline: none;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.6);
}

.options-save {
  background: #116B7C;
}

.options-save:hover {
  background: #114B5F;
}

.options-save:active {
  background: #133e4d;
}

.options-close {
  background: #F45B69;
}

.options-close:hover {
  background: #be3845;
}

.options-close:active {
  background: #ac2f3b;
}

.settings {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #114B5F;
  border-radius: 1rem;
  width: 70%;
  max-width: 600px;
}

.setting {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.setting label {
  font-size: 1.5rem;
}

.setting input {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: white;
  width: 4rem;
}

.setting input[type="color"] {
  width: 2rem;
  height: 2rem;
  margin-right: 1.8rem;
  border-radius: 5%;
  overflow: hidden;
  background-color: #114B5F;
}

.button {
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: white;
  font-family: monospace;
  background-color: #cb99c5;
  box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(189, 142, 183, .7),
    0 8px 0 1px rgba(0, 0, 0, .4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 0.7rem;
}

.button:active, .button.selected {
  top: 9px;
  background-color: #D19ECB;
  box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

/*----------- Firm -----------*/
.firm {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.heart {
  color: #ff1493;
}

@media (max-width: 479px) {
  .options-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .setting label {
    font-size: 1rem;
  }

  .setting input {
    font-size: 1rem;
  }

  .options-save, .options-close {
    font-size: 1rem;
    padding: 7px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .tools button {
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    width: 5rem;
    height: 2.5rem;
  }

  .firm {
    font-size: 10px;
  }
}

@media (max-height: 768px) {
  .firm {
    display: none;
  }
}
