html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: monospace;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #03BB85;
  border-radius: 6px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
  border-bottom-width: 15px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.8);
}

.pieces {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.8);
  width: 70vmin;
  height: 70vmin;
}

.piece {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #03BB85;
  border-radius: 3%;
  box-sizing: border-box;
  background-color: #eee;
  background-size: cover;
  transition: all 0.2s;
}

/*----------- Top Bar -----------*/
.topBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  height: 70px;
}

.title {
  display: flex;
  color: white;
  margin-left: 10px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 5px;
  display: none;
}

.winScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.winData {
  background: #03BB85;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  border: 2px #02835D solid;
}

.winText {
  color: white;
  font-size: 5rem;
  background-color: #02835D;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #027653;
  border-bottom-width: 5px;
  margin: 0;
}

.winInfo {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score, .winButtons {
  display: flex;
}

#closeWinScreen, #reset {
  color: white;
  background: #bb0339;
}

#winShuffle, #shuffle {
  color: white;
  background: #bb8503
}

#imageInputButton, #photoCheckboxLabel {
  color: white;
  background: #027653;
}

/*----------- Firm -----------*/
.firm {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.heart {
  color: #ff1493;
}

/*----------- Media Query -----------*/
@media (max-height: 1079px) {
  .firm {
    display: none;
  }
}

@media (max-height: 599px), (max-width: 599px) {
  .winText {
    font-size: 2rem;
  }

  .winInfo {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .winText {
    text-align: center;
    width: 90%;
  }

  .score, .winButtons {
    margin: 0.2rem;
  }

  .winButtons {
    order: 1;
    margin-bottom: 0;
  }
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row-options {
  display: flex;
  margin-top: 3px;
}

.checkboxDiv {
  display: flex;
}

.button, .info {
  font-family: monospace;
  position: relative;
  cursor: pointer;
  background: #f5f5f5;
  padding: 5px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
  border-bottom-width: 5px;
  transition: all 0.3s ease;
  top: 0;
}

.button:active, #photoCheckbox:checked+label {
  border-bottom-width: 0;
  top: 5px;
}

.number {
  font-style: italic;
}

.d-none {
  display: none;
}
