html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas_container {
  width: 100%;
  height: 100%;
  background: #efefef;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
}
