:root {
  --lightest: #fffaf0;
  --darker: #2a2a2a;
  --blue: #4a9ca4;
  --orange: #c87331;
  --border: #0c0c0c;
  --gameSize: 70vmin;
  --heartPink: #ff1493;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: monospace;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------- Game -----------*/

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--darker);
  border-radius: 6px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
  border-bottom-width: 2vmin;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.8);
}

/*----------- Pieces -----------*/

.cells {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 6px;
  background-color: var(--lightest);
  border: 1px solid var(--border);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.8);
  width: var(--gameSize);
  height: var(--gameSize);
}

cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
  height: 12.5%;
  box-sizing: border-box;
  transition: all 0.2s;
  border: 1px solid var(--border);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

cell:nth-child(-2n+8),
cell:nth-child(8) ~ cell:nth-child(-2n+15),
cell:nth-child(16) ~ cell:nth-child(-2n+24),
cell:nth-child(24) ~ cell:nth-child(-2n+31),
cell:nth-child(32) ~ cell:nth-child(-2n+40),
cell:nth-child(40) ~ cell:nth-child(-2n+47),
cell:nth-child(48) ~ cell:nth-child(-2n+56),
cell:nth-child(56) ~ cell:nth-child(-2n+63) {
   background-color: var(--darker);
}

cell.queen.white {
  background-image: url("../assets/default/queen-white.svg");
}
cell.queen.black {
  background-image: url("../assets/default/queen-black.svg");
}

cell.king.white {
  background-image: url("../assets/default/king-white.svg");
}
cell.king.black {
  background-image: url("../assets/default/king-black.svg");
}

cell.rook.white {
  background-image: url("../assets/default/rook-white.svg");
}
cell.rook.black {
  background-image: url("../assets/default/rook-black.svg");
}

cell.knight.white {
  background-image: url("../assets/default/knight-white.svg");
}
cell.knight.black {
  background-image: url("../assets/default/knight-black.svg");
}

cell.bishop.white {
  background-image: url("../assets/default/bishop-white.svg");
}
cell.bishop.black {
  background-image: url("../assets/default/bishop-black.svg");
}

cell.pawn.white {
  background-image: url("../assets/default/pawn-white.svg");
}
cell.pawn.black {
  background-image: url("../assets/default/pawn-black.svg");
}

cell.legalMove::after {
  content: "";
  width: 1.7vmin;
  height: 1.7vmin;
  background-color: var(--orange);
  border-radius: 50%;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

/*----------------------------*/

.row-letters-top, .row-letters-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--gameSize);
  color: var(--lightest);
}

.column-numbers-left, .column-numbers-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: var(--gameSize);
  color: var(--lightest);
}

.l-info, .n-info {
  font-style: italic;
  font-size: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4vmin;
  height: 3.4vmin;
}

/*----------------------------*/

.d-none {
  display: none;
}

/*----------- Firm -----------*/

.firm {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
  opacity: 0.3;
  transition: all 0.3s;
}

.firm:hover{
  opacity: 1
}

.heart {
  color: var(--heartPink);
}

/*----------- Media Query -----------*/

@media (max-height: 767px), (max-width: 767px) {
  :root {
    --gameSize : 80vmin;
  }
  .firm {
    display: none;
  }
}

/*----------- Key Frames -----------*/

@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
