:root {

  --lightest: #fffaf0;
  --darker: #2a2a2a;

  --border: #0c0c0c;

  --heartPink: #ff1493;

}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: monospace;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------- Game -----------*/

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--darker);
  border-radius: 6px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
  border-bottom-width: 1rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.8);
}

/*----------- Pieces -----------*/

.pieces {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 6px;
  background-color: var(--lightest);
  border: 1px solid var(--border);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.8);
  width: 70vmin;
  height: 70vmin;
}

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
  height: 12.5%;
  box-sizing: border-box;
  transition: all 0.2s;
  border: 1px solid var(--border);
}

.piece:nth-child(-2n+8),
.piece:nth-child(8) ~ .piece:nth-child(-2n+15),
.piece:nth-child(16) ~ .piece:nth-child(-2n+24),
.piece:nth-child(24) ~ .piece:nth-child(-2n+31),
.piece:nth-child(32) ~ .piece:nth-child(-2n+40),
.piece:nth-child(40) ~ .piece:nth-child(-2n+47),
.piece:nth-child(48) ~ .piece:nth-child(-2n+56),
.piece:nth-child(56) ~ .piece:nth-child(-2n+63) {
   background-color: var(--darker);
}

.piece > img {
  width: 90%;
  height: 90%;
}

/*----------------------------*/

.row-letters-top, .row-letters-bottom {
  display: flex;
  justify-content: space-around;
  width: 70vmin;
  color: var(--lightest);
}

.row-letters-top {
  margin-bottom: 0.5rem;
}

.row-letters-bottom {
  margin-top: 0.5rem;
}

.column-numbers-left, .column-numbers-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vmin;
  color: var(--lightest);
}

.column-numbers-left {
    margin-right: 0.5rem;
}

.column-numbers-right{
    margin-left: 0.5rem;
}

.letter-info, .number-info {
  font-style: italic;
}

/*----------------------------*/

.d-none {
  display: none;
}

/*----------- Firm -----------*/

.firm {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.heart {
  color: var(--heartPink);
}

/*----------- Media Query -----------*/

@media (max-height: 599px) {
  .firm {
    display: none;
  }
}
