* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: monospace;
}

.content{
  margin: auto;
}

/*----------- Minesweeper -----------*/
.minesweeper {
  min-width: 350px;
  min-height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F4F5;
  border-radius: 8px;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border: 3px solid #B9C2C7;
}

.topBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.mines {
  width: 20%;
  text-align: center;
}

.reset {
  width: 60%;
  height: 30px;
  background-color: #B9C2C7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
  transition: all 0.3s;
}

.reset:hover {
  background-color: #919DA9;
}

.reset:active {
  background-color: #6A737B;
}

.time {
  width: 20%;
  text-align: center;
}

.config_button {
  width: 70%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: #B9C2C7;
  border-radius: 8px 8px 0 0;
  transition: all 0.3s;
}

.config_button:hover {
  background-color: #919DA9;
}

.config_button:active {
  background-color: #6A737B;
}

.config {
  position: absolute;
  top: -250px;
  width: 60%;
  height: 25px;
  background-color: #F2F4F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
  transition: all 0.7s;
  height: 200px;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.settings {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row_setting{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin: 5px;
  padding: 12px;
  border-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #e0e0e0;
}

.pre_input {
  padding: 0 5px 0 12px;
  border-right: 1px solid #e0e0e0;
  position: absolute;
}

.pre_input + .input {
  width: 100%;
  padding-left: 35px;
}

.divider {
  color: #999;
  font-size: 12px;
}

.confirm {
  position: absolute;
  width: 100%;
  height: 25px;
  border: none;
  bottom: 0;
  background-color: #f44336;
  font-weight: bold;
  transition: all 0.3s;
}

.confirm:hover {
  background-color: #D81E0F;
}

.confirm:active {
  background-color: #A90F03;
}
/*----------- Grid -----------*/

.grid {
  padding: 0 15px;
}

.row_grid {
  display: flex;
}

.cell {
  width: 18px;
  height: 18px;
  border:  3px solid #F2F4F5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.cell.no_revealed {
  border-radius: 7px;
  background-color: #B9C2C7;
}

.cell.no_revealed:hover {
  background-color: #919DA9;
}

.cell.no_revealed:active {
  background-color: #6A737B;
}

.cell.revealed {
  background-color: transparent;
}

/*----------- Firm -----------*/
.firm {
  position: absolute;
  bottom: 8px;
  width: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.heart {
  color: #ff1493;
}
