html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
  background: linear-gradient(207deg, #514A9D, #24C6DC, #f2709c, #ff9472);
  background-size: 800% 800%;
  -webkit-animation: gradientAnimation 60s ease infinite;
  -moz-animation: gradientAnimation 60s ease infinite;
  -o-animation: gradientAnimation 60s ease infinite;
  animation: gradientAnimation 60s ease infinite;

}

@-webkit-keyframes gradientAnimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes gradientAnimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradientAnimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
